{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-position-block">
    <p>Войдите в учётную запись</p>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="position-login-btn">
            <button class="intro-btn">Войти</button>
        </div>
            <div class="position-login-btn">
                <a class="login__register-link" href="{% url 'register' %}">Зарегистрироваться</a>
            </div>
        </form>
    </div>
    <script src={% static "script/app.js" %}></script>
{% endblock %}