{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="login-position-block">
        <p>Зарегестрируйте учётную запись</p>
        <form method="POST" class="form-size">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="intro-btn">Зарегистрироваться</button>
            <div class="position-login-btn">
                <a class="login__register-link" href="{% url 'login' %}">Войти</a>
            </div>
        </form>
    </div>
<script src={% static "script/app.js" %}></script>
{% endblock %}

