{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}


        {% if user == pack.author %}
            <form action="{% url 'edit' pack.id %}" method="POST">
                {% csrf_token %}
            <p class="text-align-center bold">Название пака</p>
                <p class="text-align-center">
                    {{ pack_form.as_table }}
                </p>
                <div class="edit-content-wrapper">
                    <div class="wrapper-table-p-edit">
                        <p class="table-p-edit">Front-side</p>
                        <p class="table-p-edit">Flip side</p>
                    </div>
                    {{ formset.management_form }}

                    <div id="cards-list">
                        {% for card in formset %}
                            <div class="card-form">
                                {{ card.as_table }}
                            </div>
                        {% endfor %}

                    </div>

                    <div id="empty-form" class="hidden">
                        {{ formset.empty_form.as_table }}
                    </div>
                    <div class="edit-wrapper-buttons">
                        <button id="create-card" type="button">Создать новую карту</button>

                        <input id="save-element" name="submit" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>

            <p class="error-text">Если вы хотите удалить карту, то просто сделайте поле пустым и сохраните пак</p>
        {% else %}
            <h1>You don't have permission to edit this pack.</h1>
        {% endif %}
    {% else %}
        <h1>Please log in.</h1>
    {% endif %}
    <script src={% static "script/edit.js" %}></script>
{% endblock %}