{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>{{ pack.title }}</h3>
        {% if user == pack.author %}
            <form action="{% url 'edit' pack.id %}" method="POST">
                {% csrf_token %}

                {{ formset.management_form }}

                <div id="cards-list">
                    {% for card in formset %}
                        <div class="card-form">
                            {{ card.as_table }}
                        </div>
                    {% endfor %}

                </div>

                <div id="empty-form" class="hidden">
                    {{ formset.empty_form.as_table }}
                </div>
                <button id="create-card" type="button">Создать новую карту</button>

                <input name="submit" type="submit" value="Сохранить">
            </form>
        {% else %}
            <h1>You don't have permission to edit this pack.</h1>
        {% endif %}
    {% else %}
        <h1>Please log in.</h1>
    {% endif %}
    <script src={% static "script/edit.js" %}></script>
{% endblock %}