{% extends "base.html" %}

{% block content %}
    <div class="dark-fon">
    </div>
    <div class="profile-section-wrapper">
        <div class="profile-left-section">
            <h3>Данные пользователя</h3>
            <p class="examples-text">Имя пользователя: {{ profile_owner.username }}</p>
            <p class="examples-text">Создано {{ packs|length }} набор(ов)</p>
        </div>

        <div class="profile-right-section">
            <h3 class="text-align-center">Наборы карт:</h3>
            <div class="cards-wrapper">
                {% for pack in packs %}
                    <div class="card">
                        <p class="pack-rating">{{ pack.rating }}</p>
                        <p class="pack-title p1">{{ pack.title }}</p>
                        <button class="pack-btn"><a class="special-link-a navigate-cardpack-link"
                                                    href="{% url 'learn' pack.id %}">Учить слова</a></button>

                        {% if user.is_authenticated and user == profile_owner %}
                            <div class="position-additional-butn">
                                <a href="{% url 'edit' pack.id %}" class="additional-butn"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <button id="delete-button-{{ pack.id }}" class="additional-butn delete-popup-btn"><i
                                        class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-window-wrapper">
                        <div class="modal_window visibility-hidden popup-del" id="popup-del-{{ pack.id }}">
                            <div class="position-all-popup">
                                <p class="text-popup">Вы точно хотите удалить?</p>
                                <div class="position-cross-btn">
                                    <a href="{% url 'delete' pack.id %}" class="style-confirm-btn">Да</a>
                                    <button class="style-confirm-btn close-popup-btn" id="close-reg">Нет</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if packs.has_other_pages %}
            <div class="pagination">
    <span class="step-links">
        {% if packs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ packs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ packs.number }} of {{ packs.paginator.num_pages }}.
        </span>

        {% if packs.has_next %}
            <a href="?page={{ packs.next_page_number }}">next</a>
            <a href="?page={{ packs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
            </div>
        {% endif %}
    </div>



{% endblock %}