{% extends "base.html" %}

{% block content %}
    <div class="cards-wrapper">
        {% for pack in packs %}
            <div class="card">
                <p class="pack-rating">{{ pack.rating }}</p>
                <p class="pack-title p1">{{ pack.title }}</p>
                <button class="pack-btn"><a class="special-link-a navigate-cardpack-link" href="{% url 'learn' pack.id %}">Учить слова</a></button>
            </div>
{#            <li><a href="{% url 'learn' pack.id %}">{{ pack.title }}</a> by#}
{#                <a href="{% url 'profile' pack.author_id %}">{{ pack.author }}</a> - {{ pack.rating }} likes#}
{#            </li>#}
        {% endfor %}
    </div>

    {% if packs.has_other_pages %}
        <div class="pagination">
    <span class="step-links">
        {% if packs.has_previous %}
            <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>
            <a href="?page={{ packs.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ packs.number }} of {{ packs.paginator.num_pages }}.
        </span>

        {% if packs.has_next %}
            <a href="?page={{ packs.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            <a href="?page={{ packs.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    {% endif %}

{% endblock %}
