{% extends 'base.html' %}
{% load static %}
{% block head_css_wheel %}
    <link rel="stylesheet" type="text/css" href={% static '/css/wheel.css' %}>
{% endblock head_css_wheel %}
{% block content %}
    <!-- БЛОК СЛАЙДЕРА КАРТ -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide slider-card"></div>
            <div class="swiper-slide slider-card"></div>
            <div class="swiper-slide slider-card"></div>
        </div>
        <div class="swiper-button-prev card-btn"></div>
        <div class="swiper-button-next card-btn"></div>
    </div>
{% endblock %}