{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href={% static '/css/wheel.css' %}>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock head %}
{% block content %}
    <!-- БЛОК СЛАЙДЕРА КАРТ -->
    <p class="pack-name-p">{{ pack.title }}</p>
    {% if cards %}
        <div class="position_swiper_slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for card in cards %}
                        <div class="swiper-slide-card swiper-slide">
                            <div class="the_card">
                                <div class="card_face face_front">
                                    <p class="text_front_card">{{ card.front_side }}</p>
                                </div>
                                <div class="card_face face_back">
                                    <p class="text_back_card">{{ card.flip_side }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev card-btn"><span class="style-icon"><i class="fas fa-chevron-left"></i></span></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next card-btn"><span class="style-icon"><i class="fas fa-chevron-right"></i></span></div></div>
        </div>
    {% else %}
        <div>Ой, добавьте, пожалуйста, карточки</div>
    {% endif %}
    <div class="like-position">
        <form method="POST" action="{% url 'like_pack' pack.pk %}">
        {% csrf_token %}
        <button type="submit" name="pack_id" value="{{ pack.id }}"><span class="examples-text">Нравится</span> {{ pack.total_likes }}</button>
        </form>
    </div>

    <script src={% static "script/app.js" %}></script>
    <script src={% static "/script/wheel.js" %}></script>
{% endblock %}