<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
    {% block head %}{% endblock head %}
    <link rel="shortcut icon" href={% static "images/shortcut-icon.png" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,700&display=swap"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8"/>
    <title>{% block title %}Flashcards{% endblock title %}</title>
</head>
<body>
<div class="dark-fon">
</div>
<div class="wrapper">
    <!-- ХЕДЕР -->
    <header>
        <div class="header-logo-block">
            <div class="container">
                <div class="header__top-wrapper">
                    <div class="header-logo">
                        <a class="special-link-a" href="/"><img class='header-logo__img' alt='head-img' src={% static "images/book-logo.svg" %}></a>
                        <a class="special-link-a" href="/"><p class="header-logo__text">flash-cards</p></a>
                    </div>
                    <div class="header-logo__login-block">
                        {% if user.is_authenticated %}
                            <div class="user-is-authenticated">
                                <a href="{% url 'profile' user.id %}" class="login-button style-login-button"><i class="far fa-user"></i></a><a class="login-button style-login-button" id="button-reg"><i class="fas fa-sign-out-alt popup-btn"></i></a>
                            </div>
                        {% else %}
                                    <a href="{% url 'register' %}" class="login-button style-login-button">Register</a>
                                    <a href="{% url 'login' %}" class="logout-button style-login-button">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="header-navigation">
            <div class="container">
                {#                <div class="nav-bar">#}
                {#                    <div class="category-section">#}
                {#                        <nav id="flash-card-button" class="nav-button">Флэш-карты</nav>#}
                {#                        <!-- Блок с выпадающим меню                   <div id="flash-card-block" class="showing">-->#}
                {#                        <!--                        <ul class="category-ul">-->#}
                {#                        <!--                            <li class="category-li"><a href="#1">Категория 1</a></li>-->#}
                {#                        <!--                            <li class="category-li"><a href="#2">Категория 2</a></li>-->#}
                {#                        <!--                            <li class="category-li"><a href="#3">Категория 3</a></li>-->#}
                {#                        <!--                        </ul>-->#}
                {#                        <!--                    </div>-->#}
                {#                    </div>#}
                {#                    <!--   Блок с выпадающим меню                 <div id="different-block" class="showing">-->#}
                {#                    <!--                        <ul class="category-ul">-->#}
                {#                    <!--                            <li class="category-li">Категория 1</li>-->#}
                {#                    <!--                            <li class="category-li">Категория 2</li>-->#}
                {#                    <!--                            <li class="category-li">Категория 3</li>-->#}
                {#                    <!--                        </ul>-->#}
                {#                    <!--                    </div>-->#}
                {#                </div>#}
                <div class="search">
                    <form method="GET" action="#" class="search-form">
                        <label for="main-search" class="visibility-hidden">Flash-cards search</label>
                        <input id="main-search" type="search" name="q" placeholder="Поиск" autocomplete="off" class="search-input">
                        <button class="before-search"></button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        {% block content %}{% endblock content %}
    </div>
    <!-- ФУТЕР -->
    <footer>
        <div class="background-footer-up">
            <p class="footer-text"><strong>Flash - cards</strong></p>
        </div>
        <div class="background-footer-down"></div>
    </footer>
    <div class="modal_window visibility-hidden" id="popup-reg">
        <div class="position-all-popup">
            <p class="text-popup">Вы точно хотите выйти?</p>
            <div class="position-cross-btn">
                <a href="{% url 'logout' %}" class="style-confirm-btn">Да</a>
                <button class="close-popup-btn style-confirm-btn" id="close-reg">Нет</button>
            </div>
        </div>
    </div>
</div>

<script src={% static "script/popup.js" %}></script>
</body>
</html>