{% extends "base.html" %}
{% load static %}
{% block header %}Главная{% endblock header %}
{% block content %}
    <!-- ИНТРО БЛОК -->
    <div class="intro">
        <div class="container">
            <div class="intro__position-blocks">
                <div class="intro__left-side">
                    <h1 class="intro-title">Английские карточки по темам</h1>
                    <p class="intro__under-title-text">Изучайте наборы карточек по различным темам для пополнения
                        всеобщих знаний, а также создавайте свои собственные</p>
                    <button class="intro-btn">Создать свою коллекцию</button>
                </div>
            </div>
            <div class="intro__right-side">
                <img alt="" class="intro-image" src={% static "images/check-man.svg" %}>
            </div>
        </div>
    </div>
    <div class="quote-block">
        <h2 class="quote">Тут будет какой-то текст, <strong>который поможет</strong> понять пользователю, зачем ему этот
            сайт</h2>
    </div>
    <div class="examples-block">
        <div class="container">
            <div class="example">
                <div class="example-block__left-side">
                    <p class="examples-title">Заголовок номер 1</p>
                    <p class="examples-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam libero dolor, non dictum
                        nunc fermentum eget.
                    </p>
                    <p class="examples-text">
                        Vestibulum dictum dui vel nisl pellentesque pretium vel non sapien. Sed pellentesque, felis et
                        fringilla commodo, justo elit porta quam, eget varius.
                    </p>
                </div>
                <div class="example-block__right-side">
                    <img alt="" class="intro-image" src={% static "images/woman.svg" %}>
                </div>
            </div>
        </div>
    </div>
    <div class="card-section">
        <div class="cards-wrapper">
            {% for pack in packs %}
                <div class="card">
                    <p class="pack-rating">{{ pack.rating }}</p>
                    <p class="pack-title p1">{{ pack.title }}</p>
                    <button class="pack-btn"><a href="learn/{{ pack.id }}">Учить слова</a></button>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="quote-block second-quote-block">
        <div class="container">
            <h2 class="quote second-quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit”</h2>
        </div>
    </div>
    <div class="start-button-position">
        <button class="intro-btn">Начать прямо сейчас</button>
    </div>
    <script src={% static "script/app.js" %}></script>
{% endblock %}